{% extends "base.html" %}
{% load staticfiles %}
{% block header_title%}
My Writings
{% endblock %}
{% block header%}
My thoughts are public
{% endblock %}
{% block body %}
  <div class="container">
    <div class="row blog-body">
      <div class="blogpost">
        <span class="post-date">24th August 2015</span>
        <h4><a href="post.html">Implementing Email Sending Functionality in a Django App</a></h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        <span class="line">
          <span class="box"><i></i></span>
        </span>
      </div>
      <div class="blogpost">
        <span class="post-date">24th August 2015</span>
        <h4>Implementing Email Sending Functionality in a Django App</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        <span class="line">
          <span class="box"><i></i></span>
        </span>
      </div>
      <div class="blogpost">
        <span class="post-date">24th August 2015</span>
        <h4>Implementing Email Sending Functionality in a Django App</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </div>
    </div>
  </div>
{% endblock %}
