{% extends "base.html" %}
{% load staticfiles %}

{% block header_title%}
{% endblock %}

{% block header%}
Contact Me
{% endblock %}

{% block about %}
{% endblock %}

{% block body %}
  <div class="container">
    <div class="row blog-body">
      <div class="blogpost twelve columns">
        <p>
          You can contact me using the following methods:
          <table class="u-half-width">
          <tbody>
            <tr>
              <td><b>Phone Number:</b></td>
              <td>+92 325 486416-456</td>
            </tr>
            <tr>
              <td><b>Email:</b></td>
              <td>yasoob.khld@gmail.com</td>
            </tr>
            <tr>
              <td><b>Address:</b></td>
              <td>Shahrah-e-Quaid-e-Azam, Lahore 54000 Pakistan</td>
            </tr>
          </tbody>
        </table>
        </p>
        <span class="line">
          <span class="box"><i></i></span>
        </span>
      </div>
    </div>
  </div>
{% endblock %}
