{% extends "base.html" %}
{% block header%}
{{ flatpage.title }}
{% endblock %}

{% block about %}

{% endblock %}

{% block body %}
  <div class="container">
    <div class="row about-body">
      {{ flatpage.content|linebreaks }}
    </div>
    <div class="row works-title">
      <div class="twelves columns">
        <span class="line">
          <span class="box"><i></i></span>
        </span>
      </div>
    </div>
  </div>
  <div class="twitter">
  	<a class="twitter-timeline" href="https://twitter.com/yasoobkhalid" data-widget-id="684152722321469440">Tweets by @yasoobkhalid</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
{% endblock %}
